<!doctype html>
<html>
  <head>
    <title>Add Book - <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="container">
    <nav>
        <p>
            <a href="/">Home</a> | 
            <a href="/about">About</a> | 
            <a href="/books/search">Search</a> | 
            <a href="/users/register">Register</a> | 
            <a href="/books/addbook">Add Book</a> | 
            <a href="/books/list">List Books</a> |
            <a href="/books/bargainbooks">Bargain Books</a> |
            <a href="/users/list">List Users</a> </p>
        </p>
    </nav>
    <hr>
    <h1>Bertie's Books Shop</h1>
    <form method="POST" action="/books/bookadded">
      <p>Book name: <input id="name" type="text" name="name" required/></p>
      <p>Price: <input id="price" type="number" name="price" step="0.01" required/></p>
      <input type="submit" value="Add Book" />
    </form>
  </body>
</html>