<!doctype html>
<html>
  <head>
    <title>Add Book - <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav>
        <div class="nav-container">
          <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <ul style="color:red;">
        <% errors.forEach(e => { %>
          <li><%= e.msg %></li>
        <% }) %>
      </ul>
    <% } %>
            <div class="nav-left">
                <a href="/">Home</a> | 
                <a href="/about">About</a> | 
                <a href="/books/search">Search</a> | 
                <a href="/books/list">List Books</a> |
                <a href="/books/bargainbooks">Bargain Books</a> |
                <a href="/users/list">List Users</a> |
                <a href="/users/audit">Audit Log</a> |
            <a href="/weather">Weather</a>
            </div>

            <div class="nav-right">
                <a href="/users/register">Register</a>
                <a href="/users/login" class="login-btn" style="margin-left: 10px;">Login</a>
            </div>
        </div>
    </nav>
    <hr>
    <h1>Bertie's Books Shop</h1>
    <form method="POST" action="/books/bookadded">
      <p>Book name: <input id="name" type="text" name="name" required/></p>
      <p>Price: <input id="price" type="number" name="price" step="0.01" required/></p>
      <input type="submit" value="Add Book" />
    </form>
  </body>
</html>