<!DOCTYPE html>
<html>
    <head>
        <title>Bargain Books - <%=shopData.shopName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <div class="container">
            <nav>
                <p>
            <a href="/">Home</a> | 
            <a href="/about">About</a> | 
            <a href="/books/search">Search</a> | 
            <a href="/users/register">Register</a> | 
            <a href="/books/addbook">Add Book</a> | 
            <a href="/books/list">List Books</a> |
            <a href="/books/bargainbooks">Bargain Books</a> |
            <a href="/users/list">List Users</a> </p> | 
            <a href="/users/audit">Audit Log</a>
               </p>
            </nav>
            <hr>
            <h1>Bargain Books under £20.00: </h1>
            <ul>
                <% bargainBooks.forEach(function(book){ %>
                    <li>
                        <%=book.name%> £; <%=book.price %>   
                    </li>
                <% }); %>
            </ul>
    </body>
</html>