<!DOCTYPE html>
<html>
<head>
    <title>Book Deleted</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>
    <div class="container">
        <h1>Book Deleted</h1>
        <p>The record has been deleted.</p>
        <a href="/books/list">Back to Book List</a>
    </div>
</body>
</html>
