<!doctype html>
<html>
  <head>
    <title>Register for <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="container">
    <nav>
        <div class="nav-container">
            <div class="nav-left">
                <a href="/">Home</a> | 
                <a href="/about">About</a> | 
                <a href="/books/search">Search</a> | 
                <a href="/books/list">List Books</a> |
                <a href="/books/bargainbooks">Bargain Books</a> |
                <a href="/users/list">List Users</a> |
                <a href="/users/audit">Audit Log</a>
            </div>

            <div class="nav-right">
                <a href="/users/register">Register</a>
                <a href="/users/login" class="login-btn" style="margin-left: 10px;">Login</a>
            </div>
        </div>
    </nav>
    <hr>
    <h1>Register for <%=shopData.shopName%></h1>
    <form method="POST" action="/users/registered">
        <p>Username: <input id="username" type="text" name="username" /></p>
        <p>First name: <input id="first" type="text" name="first" /></p>
        <p>Last name: <input id="last" type="text" name="last" /></p>
        <p>Email: <input id="email" type="email" name="email" /></p>
        <p>Password: <input id="Password" type="password" name="password" /></p>
        <input type="submit" value="Register" />
      </form>
  </body>
</html>