<!DOCTYPE html>
<html>
    <head>
        <title>Search Results - <%=shopData.shopName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <div class="container">
            <nav>
        <div class="nav-container">
            <div class="nav-left">
                <a href="/">Home</a> | 
                <a href="/about">About</a> | 
                <a href="/books/search">Search</a> | 
                <a href="/books/list">List Books</a> |
                <a href="/books/bargainbooks">Bargain Books</a> |
                <a href="/users/list">List Users</a> |
                <a href="/users/audit">Audit Log</a> |
            <a href="/weather">Weather</a>
            </div>

            <div class="nav-right">
                <a href="/users/register">Register</a>
                <a href="/users/login" class="login-btn" style="margin-left: 10px;">Login</a>
            </div>
        </div>
    </nav>
            <hr>
            <h1>Search Results for: "<%= search_text %>"</h1>

            <% if (availableBooks.length > 0) { %>
                <p>Here are the books that match your search: </p>
                <ul>
                    <% availableBooks.forEach(function(book) { %>
                        <li>
                            <%= book.name %> £, <%= book.price %>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>We appologise, no books were found matching your search!</p>
            <% } %>
            <p style ="margin-top:20px;"><a href="/books/search">Try another search ?</a>
            </p>          
    </body>
</html>