<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="container">
    <nav>
        <p>
            <a href="/">Home</a> | 
            <a href="/about">About</a> | 
            <a href="/books/search">Search</a> | 
            <a href="/users/register">Register</a> | 
            <a href="/books/addbook">Add Book</a> | 
            <a href="/books/list">List Books</a> |
            <a href="/books/bargainbooks">Bargain Books</a> |
            <a href="/users/list">List Users</a> </p>
        </p>
    </nav>
    <hr>
    <h1>Search <%=shopData.shopName%></h1>
    <form action="/books/search-result" method="GET">
      <p>Enter anything you remember from the book title you are looking for: </p>
      <input id="search-box" type="text" name="search_text" required>
      <input type="submit" value="Search" >
    </form>
  </body>
</html>