<!DOCTYPE html>
<html>
<head>
    <title>User Deleted - <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>
    <div class="container">
        <nav>
            <p>
                <a href="/">Home</a> | 
                <a href="/users/list">Back to User List</a>
            </p>
        </nav>
        <hr>
        
        <h1 style="color: #dc3545;">User Deleted</h1>
        <p>The user record has been successfully removed from the database.</p>
        
        <p>
            <a href="/users/list">View Remaining Users</a>
        </p>
    </div>
</body>
</html>